.top-container {
    justify-content: center;
}

.cube-input-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cube-input {
    flex-basis: 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.card {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin: 3px;
}

.running {
    background-color: gainsboro
}
